body{
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    text-align: center;
}

fieldset {
        width: 30%;
        height: 30%;
        margin: auto;
}

#beskrivning {
    width: 50%;
    height: 100px;
    margin: auto;
}