body{
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    text-align: center;
    font-size: large;
    border: 1% solid black
}

fieldset{
    width: 30%;
    height: 30%;
    margin: auto;
}

#beskrivning {
    width: 32%;
    height: 10em;
    margin: auto;
}

#submit, #reset {
    padding: 10px 20px;
    margin: 10px;
    font-size: medium;
    cursor: pointer;
}